* {
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgb(159, 161, 165);
	color: white;
}

a {
    text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(159, 161, 165);
}

.active {
  background-color: rgb(159, 161, 165);
}

#body-content{
	width: 65rem;
}

#name h1{
	margin-top: 0.7rem;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	font-weight: normal;
	color: rgb(159, 161, 165);
}

#navigation a{
	margin: 7px 20px;
	padding: 7px 20px;
	color: white;
}

#navigation li{
	display: inline;
	/*min-width: 120rem;*/
	position: relative;
}

#navigation{
	min-width: 60rem;
}


#header{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgb(255, 228, 226);
}

#title{
	float: center;
	padding-top: 10rem;
	padding-bottom: 1rem;
}

#body-content a{
	text-decoration: none;
	color:rgb(255, 228, 226);
	font-weight:bold;
}

#contact-info {
	padding-bottom: 1rem;
}

/*
#education {
	padding-top: 1rem;
	float: left;
	text-align: left;
}

#education-dates{
	padding-top: 1rem;
	float: right;
	text-align:left;
}
*/

.leftSide{
	padding-top: 1rem;
	float: left;
	text-align: left;
	max-width: 45%;
	clear: both;
}

.rightSide {
	padding-top: 1rem;
	float: right;
	text-align:left;
}

